.App {
  text-align: center;
}

.App-logo {
  height: 45vmin;
  pointer-events: none;
  width: 300px;
  border-radius: 30px;
  box-shadow: white 2px;
  margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Arial, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(45deg);
  }
}
.button{
  color: white;
  width: 8rem;
  height: 3rem;
  background-color: #02c6fc;
  border-radius: 1rem;
  margin-top: 20px;
}
.button:hover{
  background-color: white;
  opacity: .9;
  color:black;
  

}